/images
/__pycache__
initial_age_cnn_model.pth
initial_age_cnn_model_with_graph.pth

latest_age_cnn_model.pth
latest_age_cnn_model_with_graph.pth

/entities/AgeCNN.pyc
/entities/__init__.pyc
/entities/__pycache__

predict.pyc

